App-llenv-*
.*
!.gitignore
!.shipit
inc/
*.o
*.obj
*.bs
*.def
Makefile*
!Makefile.PL
*blib
META.*
MYMETA.*
*.out
*.bak
*.old
*~
*.swp
ppport.h
nytprof*
cover_db*
*.gcda
*.gcno
*.gcov
*.stackdump
local
sandbox
fatlib
